body {
    background: black;
    color:  white;
    padding: 50px;
    font-family: Helvetica;
}

h1 {
    font-size: 3em;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
 }

 h2 {
     font-size: 2.2em;
 }

 #hello {
     color: red;
 }

#hal{
    width: 100px;
}

 .burndown {
     background: #424242;
     padding: 10px;
 }